
        *{
            margin: 0;
            font-family: Arial;
            border: border-box;
        }

        .navbar {
            height: 60px;
            background-color: #0f1111;
            color: rgb(211, 196, 196);
        }

        .nav-logo {
            height: 50px;
            width: 100px;
        }

        .logo {
            background-image: url("image.png");
            background-size: cover;
            height: 50px;
            width: 100%;

        }

        .border {
            border: 2px solid transparent;
        }

        .border:hover{
            border: 2px solid whitesmoke;
        }
        