
        *{
            margin: 0;
            font-family: Arial;
            border: border-box;
        }

        .navbar {
            height: 60px;
            background-color: #0f1111;
            color: rgb(211, 196, 196);
            display: flex;
            justify-content:space-evenly;
        }
        /**box1**/
        .nav-logo {
            height: 50px;
            width: 100px;
        }

        .logo {
            background-image: url("image.png");
            background-size: cover;
            height: 45px;
            width: 100%;

        }

        .border {
            border: 2px solid transparent;
        }

        .border:hover{
            border: 2px solid whitesmoke;
        }
        /**box2**/
        
        .add-1{
            color:#cccc;
            font-size:0.85rem;
           margin-left: 15px;
           margin-top: 5px;


        }
        .add-2{
            color:#fff;
            font-size: 1rem;
           margin-left: 3px;
           margin-bottom:5px ;

        }
        .add-icon{
            display: flex;
            align-items: center;
        }
        /**box3**/
        .nav-search{
            display: flex;
            background-color: #febd68;
            height: 40px;
            width: 620px;
            border-radius: 4px;
            justify-content: space-evenly;
            
        }
        .nav-search:hover{
            color: 2px solid orange;
        }
        .search-select{
            background-color: #f3f3f3;
            width: 50px;
            text-align: center;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border: none;
            max-width: 100%;
        }
        .search-icon{
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            background-color: #febd68;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            color: #0f1111;
        }
        .search-input{
            width: 600px;
            font-size: 1rem;
            border: none;
            height: 60px;

        }
        /**box4**/
        span{
            font-size: 0.7rem;
        }
        .nav-second{
            font-size: 0.85rem;
            font-weight: 700;
        }
        /**box5**/
        .nav-cart i {
            font-size: 30px;
        }
        .nav-cart{
            font-size: 0.85rem;
            font-weight:700;
            align-items: center;
        }
        /**panel**/
        .panel{
            height: 40px;
            background-color:  #222f3d;
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-evenly;
           

        }
        .panel-ops p{
            display: inline;
            margin-left: 15px;

        }
        .panel-ops {
            width: 70%;
            font-size: 0.85rem;


        }
        .panel-deals{
            font-size: 0.90rem;
            font-weight: 700;
        }
        /**hero*/
        .hero-section{
            background-image: url("hero_image.jpg");
            background-size: cover;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .hero-message{
            background-color: white;
            color: #0f1111;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.85rem;
            width: 80%;
            margin-bottom: 25px;
        }
        .hero-message a{
            color: #007185;
        }
        /**.shop-section**/
        .shop-section{
            display: flex;
            background-color: #e2e6e7;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .box{
            border:2px solid black;
            height: 400px;
            width: 23%;
            background-color: white;
            padding: 20px 0px 15px;
            margin: 10px;
        }
        .box-img{
            height: 250px;
            margin: 1rem;
            background-size: cover;
            margin-bottom: 1rem;
        }
        .box-content{
            margin-left: 10px;
            margin-right: 10px;
        }
        .box-content p{
            background-color: #007185;
        }